@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #2b282b, #11181c);
  color: #fff;
}

.App {
  width: 100vw;
  height: 100vh;
}
